name: Daily Workflow

on:
  push:
    branches:
      - "master"
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

env:
  ARTIFACTS_DIR: output

jobs:
  generate-rating:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Update PYTHONPATH
        run: echo "PYTHONPATH=${{ github.workspace }}/src" >> $GITHUB_ENV

      - name: Run project
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_SECRET: ${{ secrets.API_SECRET }}
        run: |
          python3 src/main.py -g eyxap8qPwM -o ${{env.ARTIFACTS_DIR}} -e configs/essential_tasks/config.yml -m configs/mapping.csv -i configs/ignored_contests.txt

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{env.ARTIFACTS_DIR}}
